
@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password</h2>

<p>Enter your username or email and click "Send Email" to sumbit a password reset request.</p>
<br />

<table style="width:400px; border:0 none none;">
    <tr>
        <td>
            User
        </td>
        <td width="325">
            <input class="form-control text-box single-line" id="chrUser" name="chrUser" type="text" value="@ViewBag.UserName" />
        </td>
    </tr>
    <tr>
        <td>
            <a href="#" class="btn btn-success" onclick="RequestPasswordReset()" style="width:100px;">Send Email</a>
        </td>
    </tr>
</table>

<br />
<p class="text-danger" id="NoUser" style="display:none;">No user found that matches the above criteria.</p>


@section scripts{
    <script type="text/javascript">
        var RequestPasswordReset = function () {            
            console.log($("#chrUser").val());

            $.ajax({
                type: "POST",
                url: "../User/PasswordRequest",
                data: {
                    user: $("#chrUser").val()
                },
                success: function (response) {
                    if (response === null || response == "") {
                        console.log("User not found: " + $("#chrUser").val());
                        $("#NoUser").show();
                    }
                    else {
                        window.location.href = response.Url;
                    }
                }
            });
        };
    </script>
}
