
@{
    ViewBag.Title = "RequestSent";
}

<h2>Request Sent</h2>

<table width="710" border="0" cellspacing="0" cellpadding="0" style="border-collapse:separate;border:none;padding:0;margin:0;table-layout:fixed;">
    <tr style="height: 1px">
        <td style="border:none;padding:0;" width="19px;" />
        <td style="border:none;padding:0;" width="19px;" />
        <td style="border:none;padding:0;" width="19px;" />
        <td style="border:none;padding:0;" width="230px;" />
        <td style="border:none;padding:0;" width="163px;" />
        <td style="border:none;padding:0;" width="230px;" />
        <td style="border:none;padding:0;" width="29px;" />
    </tr>

    <tr style="height:29px;">
        <td colspan="7" style="font-size:1px;" nowrap>&nbsp;</td>
    </tr>

    <tr style="height:29px;">
        <td rowspan="19" style="font-size:1px;" nowrap>&nbsp;</td>
        <td colspan="6" style="text-align:left;">
            Thank you,
        </td>
    </tr>

    <tr style="height:67px;">
        <td colspan="6">An email has been sent to the address supplied containing instructions on how to reset your password.</td>
    </tr>

    <tr style="height:67px;">
        <td colspan="6">If you have any questions or concerns please contact AES Tech Support.</td>
    </tr>

    <tr style="height:19px;">
        <td colspan="6" style="font-size:1px;" nowrap>&nbsp;</td>
    </tr>

    @*<tr style="height:134px;">
        <td colspan="6" style="font-size:1px; text-align:left;" >
            <img src='@Url.Content("~/Images/AESContactInfo.png")' />
        </td>
    </tr>*@
</table>

